name: docs
on: workflow_dispatch
jobs:
  tags:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: andykuszyk/markasten@master
        with:
          command: "tags"
          input: "docs/"
          output: "docs/README.md"
          additionalArgs: --capitalize --title 'Documentation
            Herein lies the documentation for teams foo and bar, and everyone else besides.
            '
      - run: cat docs/INDEX.md
      - run: git diff
